/*:root{
	--mainColor:#352626;
	--secondaryColor:#423535;

	--borderColor:#FF926B;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#412222d8;
	--previewShadow:#291515;


	--buttonColor:#ffa550;


}*/
:root{
	
	--mainColor:#312222;
	--secondaryColor:#423535;

	--borderColor:#F0A500;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#412222d8;
	--previewShadow:#291515;


	--buttonColor:#ffa550;

}
/*
--mainColor:#3a2b2b;
	--secondaryColor:#423535;


:root{
FF926B


	--mainColor:#4A3933;
	--secondaryColor:#614d46;

	--borderColor:#F0A500;
------------------------------------
	--mainColor:#606B56;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}
*/